body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #2A4CBB;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

#detectib {
    font-size: 1.5em;
    float: left;
}

#clientes {
    font-size: 1.5em;
    margin: 0 auto;
    vertical-align: middle;
}

#menu {
    position: absolute;
    float: right;
    top: 2%;
    left: 98%;
}

.menu-icon {
    width: 30px;
    height: 5px;
    background-color: white;
    margin-bottom: 6px;
    transition: 0.4s;
}

#layout {
    display: flex;
}

#users {
    flex: 1;
    margin: 20px;
}

.user {
    background-color: #718BE0;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
}

#form {
    flex: 1;
    padding: 20px;
}

form {
    max-width: 500px;
    margin: auto;
}

.form-group-left {
    float: left;
}

.form-group-right {
    float: right;
}

.form-group-left, .form-group-right {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color: #718BE0;
    border: 2px solid black;
}

.icons {
    width: 100%;
    background-color: red;
}

.icons button {
    float: right;
}

.user p {
    color: white;
}

.save {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 20px;
    color: white;
    background-color: #718BE0;
    border: 2px solid black;
}
